@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --bgColor: #003140;
    --primary-color: #00abfd;
    --text-color: #cdf1ff;
    --secondary-color: #00587c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: Roboto;
    /* color: var(--text-color); */
}

.nav {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: var(--bgColor);
    color: var(--text-color);
}
.nav .my-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.my-infor .bx-img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    border-radius: 50%;
}
.bx-img img {
    width: 100%;
    height: 100%;
}
.my-infor .contact-me a {
    font-size: 3rem;
    margin: 5px;
}
.my-infor .contact-me a:hover {
    color: var(--text-color);
}
.nav-menu {
    margin: 20px;
}
.nav-menu ul {
    list-style: none;
}
.nav-menu ul li {
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}
.nav-menu ul li.active {
    color: var(--primary-color);
}
.nav-menu ul li:hover i {
    color: var(--primary-color);
}
.nav-menu ul li i {
    margin-right: 5px;
}
.main {
    padding-left: 300px;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.head {
    width: 100%;
    background-image: url('./img/anh1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.head h1 {
    color: var(--bgColor);
}
.infor {
    padding: 30px 10px;
}
.infor h2 {
    color: var(--bgColor);
    position: relative;
    width: max-content;
}
.infor h2::after {
    width: 50%;
    content: '';
    height: 3px;
    background-color: var(--bgColor);
    position: absolute;
    top: 100%;
    left: 0;
}
.infor p {
    font-size: 2rem;
    /* font-weight: 500; */
}
.about .about-infor {
    display: flex;
}
.about .about-infor .bx-img {
    width: 400px;
}
.about-infor .resume {
    margin-left: 20px;
}
.about-infor .resume ul {
    list-style: none;
}
.about-infor .resume ul li {
    margin: 20px 0;
    font-size: 1.8rem;
    /* font-weight: 600; */
    color: var(--secondary-color);
}
.about-infor .resume ul li span {
    font-weight: 600;
    color: var(--bgColor);
}
.education .edu-exp {
    display: flex;
}
.education .edu-exp .education-item {
    flex: 1;
}
.education .edu-exp .education-item .item {
    position: relative;
    padding: 10px 30px;
}
.education .edu-exp .education-item .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid var(--bgColor);
    border-radius: 50%;
}
.education .edu-exp .education-item .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--bgColor);
}
