@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --bgColor: #003140;
    --primary-color: #00abfd;
    --text-color: #cdf1ff;
    --secondary-color: #00587c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--primary-color);
}
body {
    min-height: 100vh;
    font-family: Roboto;
    /* color: var(--text-color); */
    overflow-x: hidden;
}
.animation {
    transition: 1s;
    opacity: 0;
}
.animation-to-right {
    left: -100%;
}
.animation-to-left {
    right: -100%;
}
.animation-up {
    transform: translateY(50px);
}
.nav {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: var(--bgColor);
    color: var(--text-color);
    z-index: 100;
    overflow: scroll;
}

.nav .my-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 20px; */
    width: 100%;
}
.my-infor .bx-img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    border-radius: 50%;
}
.bx-img img {
    width: 100%;
    height: 100%;
}
.my-infor .contact-me a {
    font-size: 2rem;
    margin: 5px;
}
.my-infor .contact-me a:hover {
    color: var(--text-color);
}
.nav-menu {
    margin: 20px;
}
.nav-menu ul {
    list-style: none;
}
.nav-menu ul li {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}
.nav-menu__child {
    position: relative;
    margin-top: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
}
.nav-menu__child.active {
    height: 100%;
}
.nav-menu ul li.active {
    color: var(--primary-color);
}
.nav-menu ul li:hover > i {
    color: var(--primary-color);
}
.nav-menu ul li i {
    margin-right: 5px;
}
.main {
    padding-left: 300px;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.main > .container-fluid {
    display: none;
}
.main > .container-fluid.active {
    display: block;
}
.head {
    width: 100%;
    background-image: url('../img/anh1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
#typed {
    font-size: 2rem;
}
.typed-cursor {
    font-size: 2rem;
}
.head h1 {
    color: var(--bgColor);
}
.infor {
    padding: 30px 10px;
}
.main .infor:nth-child(2n + 1) {
    background-color: var(--text-color);
}
.infor h2 {
    color: var(--bgColor);
    position: relative;
    width: max-content;
    margin-bottom: 30px;
}
.infor h2::after {
    width: 50%;
    content: '';
    height: 3px;
    background-color: var(--bgColor);
    position: absolute;
    top: 100%;
    left: 0;
}
.infor p {
    font-size: 1.5rem;
    /* font-weight: 500; */
}
.about .about-infor {
    display: flex;
}
.about .about-infor .bx-img {
    /* width: 400px; */
}
.about-infor .resume {
    height: 100%;
}
.about-infor .resume ul {
    list-style: none;
}
.about-infor .resume ul li {
    margin: 20px 0;
    font-size: 1.5rem;
    /* font-weight: 600; */
    color: var(--secondary-color);
}
.about-infor .resume ul li span {
    font-weight: 600;
    color: var(--bgColor);
}
.education .edu-exp .education-item .item {
    position: relative;
    padding: 10px 30px;
}
.education .edu-exp .education-item .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid var(--bgColor);
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    z-index: 10;
}
.education .edu-exp .education-item .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--bgColor);
    transform: translateX(-50%);
}
.education .edu-exp .education-item .item > span {
    background-color: var(--secondary-color);
    padding: 5px 10px;
    color: var(--text-color);
    margin-bottom: 20px;
    display: inline-block;
}
.skills .skill {
    margin-bottom: 20px;
    cursor: pointer;
}
.skill i {
    width: 70px;
    height: 70px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    transition: 0.5s linear;
}
.skill .skill-des {
    display: flow-root;
}
.skill .skill-des h4 {
    font-size: 1.5rem;
}
.skill:hover i {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* table */
.header {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    width: 100%;
    background-color: var(--text-color);
    align-items: center;
    padding: 10px;
}
.header .header-search {
    display: flex;
}
.header .header-search input,
.header .header-search button {
    border: none;
    outline: none;
}
.header .header-search button {
    font-size: 1.5rem;
    background-color: transparent;
    font-weight: 600;
    color: var(--secondary-color);
}
.header .header-search input {
    width: 150px;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.5s;
    font-size: 1rem;
    font-weight: 500;
}
.header .header-github a {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 0 8px;
    border-radius: 5px;
}
.header .nav-profile {
    display: flex;
    align-items: center;
}
.nav-profile .notification {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    border-right: 2px solid var(--secondary-color);
}
.nav-profile .dropdown {
    background-color: transparent;
}
.nav-profile .dropdown a {
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    color: var(--secondary-color);
}
.nav-profile .dropdown a img {
    width: 40px;
    height: 40px;
}
.tables-contain {
}
.ui-item {
    background-color: #ccc;
    margin-bottom: 20px;
}
#buttons .btn {
    margin: 5px;
}
