* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(56, 102, 255);
    color: #fff;
    min-height: 100vh;
    /* overflow: hidden; */
}
.cup {
    background-color: #fff;
    border: 3px solid blue;
    color: blue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.cup span {
    font-size: 20px;
    font-weight: bold;
}
.cups {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}
.cup.cup-small {
    width: 50px;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    margin: 15px 10px;
    cursor: pointer;
    transition: 0.3s linear;
}
.cup.cup-small.active {
    background-color: #6ab3f8;
    color: #fff;
}
.remained {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s linear;
    flex: 1;
}
.percen {
    background-color: #6ab3f8;
    width: 100%;
    text-align: center;
    height: 20%;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s linear;
}
